@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply bg-background min-h-screen;
  }
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

a {
  @apply text-gray-900;
}
a:hover {
  @apply text-gray-700;
}

button {
  @apply bg-gray-900 border-gray-900;
}
button:hover {
  @apply border-blue-500;
}
button:focus,
button:focus-visible {
  @apply outline-none ring-blue-500;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    @apply text-blue-500;
  }
  button {
    @apply bg-gray-100;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-background {
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
